In [251]:
# import some libraries
import json

### get osm data

In [252]:
# read the shapefiles 
osm_data = geopandas.read_file("shapefile path")

In [253]:
# the shape of our data
osm_data.shape

(61465, 5)

#### - there are 61,465 place

In [254]:
osm_data.head()

,osm_id,code,fclass,name,geometry
0,41826727,2907,camera_surveillance,None,POINT (-73.68880 42.73242)
1,42105926,2907,camera_surveillance,None,POINT (-73.72159 43.05355)
2,42437909,2907,camera_surveillance,None,POINT (-74.00137 40.74651)
3,43058007,2204,park,Kibler Park,POINT (-78.67233 43.16559)
4,60700639,2404,guesthouse,Inn By The Park,POINT (-75.17913 44.89680)

### extract features

In [255]:
# we just need the name and location of the place
osm_data = osm_data[['name','geometry']]

### drop unnamed places

In [256]:
# there are some place without names we will drop them 
osm_data = osm_data.dropna()

In [257]:
osm_data.head()

                          name                    geometry
3                  Kibler Park  POINT (-78.67233 43.16559)
4              Inn By The Park  POINT (-75.17913 44.89680)
5  Northwood Elementary School  POINT (-78.74288 42.86341)
7                   McDonald's  POINT (-78.62982 42.76769)
8              Toy Town Museum  POINT (-78.61271 42.77262)

### delete double quotations form feature name

In [258]:
# delete the double quotations from names due it causes problems
osm_data.name = osm_data.name.str.replace('"', '')

### create JSON object

In [259]:
# from datafarme to json
json_data = osm_data.to_json()

In [260]:
# delete the extra slashes
json_data = json.dumps(json_data).replace('\\', '')

### write into JSON file

In [261]:
# save the json file
with open("json outfile", 'w') as f:
    print(json_data, file=f)